streamlit
pandas
numpy
ydata-profiling
streamlit-pandas-profiling
plotly
yfinance
pillow==10.1.0
streamlit-option-menu
matplotlib==3.7.3
st-speckmol==0.0.6
ipython_genutils
pickle5==0.0.11
scikit_learn==1.3.2

